h1 {
  text-align: center;
  padding: 10px;
  padding-top: 20px;
  background: #d2def2;
  height: 100px;
  width: 80%;
  margin-left: 10%;
  border-radius: 20px;
}
h2 {
  text-align: center;
  padding: 10px;
}
h3 {
  padding-top: 100px;
}
#quiz {
  margin-left: 40%;
  margin-right: 40%;
  background: #d2def2;
  padding: 10px 20px 10px 20px;
  width: 400px;
  border-radius: 20px;
}
input {
  margin-bottom: 20px;
  display: block;
}
body {
  background-image: url("https://images3.alphacoders.com/486/thumb-1920-48689.jpg");
  /* background-repeat-x: no-repeat;
  background-size: contain; */
}
#finish-game {
  text-align: center;
}
.start-game {
  text-align: center;
  height: 600px;
  width: 800px;
  background-color: #d2def2;
  margin-left: 30%;
  margin-top: 10%;
  margin-right: 30%;
  border-radius: 20px;
}
.end-game {
  text-align: center;
  height: 600px;
  width: 800px;
  background-color: #d2def2;
  margin-left: 30%;
  margin-top: 10%;
  margin-right: 30%;
  border-radius: 20px;
}
.start-button {
  text-align: center;
  height: 60px;
  width: 80px;
  margin: 100px;
}
.end-button {
  text-align: center;
  height: 60px;
  width: 80px;
  margin: 140px;
}

.questions {
  font-weight: bold;
}
.carl {
  position: fixed;
  top: 200px;
  left: 80px;
}
.athf {
  position: fixed;
  top: 20px;
  right: 800px;
  width: 50px;
}
